Package: com.yourcompany.device
Name: Device
Depends: 
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: System Administrator
Author: System Administrator
Section: Utilities
Version: 0.0.1-3
Installed-Size: 152
