Package: com.yourcompany.device
Name: Device
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: System Administrator
Author: System Administrator
Section: Utilities
